In [1]:
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import seaborn as sns

In [2]:
# Load tips dataset using seaborn
tips = sns.load_dataset('tips')

In [3]:
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [4]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
tips.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [6]:
tips = pd.get_dummies(tips, drop_first=True)

In [7]:
tips

,total_bill,tip,size,sex_Female,smoker_No,day_Fri,day_Sat,day_Sun,time_Dinner
0,16.99,1.01,2,1,1,0,0,1,1
1,10.34,1.66,3,0,1,0,0,1,1
2,21.01,3.50,3,0,1,0,0,1,1
3,23.68,3.31,2,0,1,0,0,1,1
4,24.59,3.61,4,1,1,0,0,1,1
...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,3,0,1,0,1,0,1
240,27.18,2.00,2,1,0,0,1,0,1
241,22.67,2.00,2,0,0,0,1,0,1
242,17.82,1.75,2,0,1,0,1,0,1
243,18.78,3.00,2,1,1,0,0,0,1

In [8]:
X = tips.drop('tip', axis=1)
y = tips['tip']
tips.head()

,total_bill,tip,size,sex_Female,smoker_No,day_Fri,day_Sat,day_Sun,time_Dinner
0,16.99,1.01,2,1,1,0,0,1,1
1,10.34,1.66,3,0,1,0,0,1,1
2,21.01,3.50,3,0,1,0,0,1,1
3,23.68,3.31,2,0,1,0,0,1,1
4,24.59,3.61,4,1,1,0,0,1,1

In [9]:
# Splitting the dataset for testing and training 
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2,random_state=42)

In [10]:
X_test

,total_bill,size,sex_Female,smoker_No,day_Fri,day_Sat,day_Sun,time_Dinner
24,19.82,2,0,1,0,1,0,1
6,8.77,2,0,1,0,0,1,1
153,24.55,4,0,1,0,0,1,1
211,25.89,4,0,0,0,1,0,1
198,13.00,2,1,0,0,0,0,0
176,17.89,2,0,0,0,0,1,1
192,28.44,2,0,0,0,0,0,0
124,12.48,2,1,1,0,0,0,0
9,14.78,2,0,1,0,0,1,1
101,15.38,2,1,0,1,0,0,1
45,18.29,2,0,1,0,0,1,1
233,10.77,2,0,1,0,1,0,1
117,10.65,2,1,1,0,0,0,0
177,14.48,2,0,0,0,0,1,1
82,10.07,1,1,1,0,0,0,0
146,18.64,3,1,1,0,0,0,0
200,18.71,3,0,0,0,0,0,0
15,21.58,2,0,1,0,0,1,1
66,16.45,2,1,1,0,1,0,1
142,41.19,5,0,1,0,0,0,0
33,20.69,4,1,1,0,1,0,1
19,20.65,3,0,1,0,1,0,1
109,14.31,2,1,0,0,1,0,1
30,9.55,2,0,1,0,1,0,1
186,20.90,3,1,0,0,0,1,1
120,11.69,2,0,1,0,0,0,0
10,10.27,2,0,1,0,0,1,1
73,25.28,2,1,0,0,1,0,1
159,16.49,4,0,1,0,0,1,1
156,48.17,6,0,1,0,0,1,1
112,38.07,3,0,1,0,0,1,1
218,7.74,2,0,0,0,1,0,1
25,17.81,4,0,1,0,1,0,1
60,20.29,2,0,0,0,1,0,1
18,16.97,3,1,1,0,0,1,1
119,24.08,4,1,1,0,0,0,0
97,12.03,2,0,0,1,0,0,1
197,43.11,4,1,0,0,0,0,0
139,13.16,2,1,1,0,0,0,0
241,22.67,2,0,0,0,1,0,1
75,10.51,2,0,1,0,1,0,1
127,14.52,2,1,1,0,0,0,0
113,23.95,2,0,1,0,0,1,1
16,10.33,3,1,1,0,0,1,1
196,10.34,2,0,0,0,0,0,0
67,3.07,1,1,0,0,1,0,1
168,10.59,2,1,0,0,1,0,1
38,18.69,3,0,1,0,1,0,1
195,7.56,2,0,1,0,0,0,0

In [14]:
# Building the model
model = tf.keras.models.Sequential([
    tf.keras.layers.Dense(50, activation='relu',
                          input_shape=(X_train.shape[1],)), # Input layer

    tf.keras.layers.Dense(35, activation='relu'), # Hidden layer

    tf.keras.layers.Dense(1)  # Output layer for regression
])

# Compiling the model
model.compile(optimizer='adam', loss='mean_squared_error', metrics=['mae'])

# Training the model
model.fit(X_train, y_train, epochs=100, batch_size=32, verbose=1)

# Evaluating the model (using Mean Squared Error)
loss, accuracy = model.evaluate(X_test, y_test)
print('Mean Squared Error: ', loss)
print('Test Accuracy: ', accuracy)

Epoch 1/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 4.1069 - mae: 1.7084
Epoch 2/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.9353 - mae: 0.9951
Epoch 3/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.7107 - mae: 0.9495
Epoch 4/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.5019 - mae: 0.8676
Epoch 5/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 1.3269 - mae: 0.8214
Epoch 6/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.1763 - mae: 0.7531
Epoch 7/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.3003 - mae: 0.7824
Epoch 8/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 1.2877 - mae: 0.7731
Epoch 9/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.2598 - mae: 0.7897
Epoch 10/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.1041 - mae: 0.7105
Epoch 11/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.3950 - mae: 0.8213
Epoch 12/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 1.2655 - mae: 0.8023
Epoch 13/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.1088 - mae: 0.7433
Epoch 14/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.9579 - mae: 0.6821
Epoch 15/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 1.1661 - mae: 0.7641
Epoch 16/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.3580 - mae: 0.8073
Epoch 17/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.1632 - mae: 0.7377
Epoch 18/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1.1733 - mae: 0.7573
Epoch 19/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.3270 - mae: 0.8343
Epoch 20/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.2185 - mae: 0.7879
Epoch 21/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.4036 - mae: 0.8200
Epoch 22/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 1.0563 - mae: 0.7158
Epoch 23/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.2423 - mae: 0.8136
Epoch 24/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.0778 - mae: 0.7485
Epoch 25/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.2853 - mae: 0.7877
Epoch 26/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.1110 - mae: 0.7332
Epoch 27/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 1.0432 - mae: 0.7181
Epoch 28/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.0854 - mae: 0.7310
Epoch 29/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.0950 - mae: 0.7384
Epoch 30/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1.3256 - mae: 0.8127
Epoch 31/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.1456 - mae: 0.8090
Epoch 32/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1.1873 - mae: 0.7796
Epoch 33/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 1.2855 - mae: 0.7933
Epoch 34/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 1.1431 - mae: 0.7655
Epoch 35/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 383us/step - loss: 1.1787 - mae: 0.7806
Epoch 36/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.4241 - mae: 0.8614
Epoch 37/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 1.2774 - mae: 0.7638
Epoch 38/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.2607 - mae: 0.8275
Epoch 39/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.1626 - mae: 0.7789
Epoch 40/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 1.0803 - mae: 0.7322
Epoch 41/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 226us/step - loss: 1.0601 - mae: 0.7334
Epoch 42/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.1002 - mae: 0.7439
Epoch 43/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 1.1013 - mae: 0.7561
Epoch 44/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.1528 - mae: 0.7608
Epoch 45/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.3598 - mae: 0.8142
Epoch 46/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.0935 - mae: 0.7436
Epoch 47/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.1844 - mae: 0.7719
Epoch 48/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 113us/step - loss: 1.2859 - mae: 0.8214
Epoch 49/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.0234 - mae: 0.7396
Epoch 50/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 1.2485 - mae: 0.7995
Epoch 51/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1.2009 - mae: 0.7525
Epoch 52/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.3240 - mae: 0.8752
Epoch 53/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.3485 - mae: 0.8219
Epoch 54/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 1.2012 - mae: 0.7677
Epoch 55/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.1186 - mae: 0.7900
Epoch 56/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 1.1599 - mae: 0.7512
Epoch 57/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.2491 - mae: 0.8375
Epoch 58/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.2510 - mae: 0.8149
Epoch 59/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1.2493 - mae: 0.8020
Epoch 60/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 1.1897 - mae: 0.7750
Epoch 61/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 1.1055 - mae: 0.7752
Epoch 62/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 1.3351 - mae: 0.8189
Epoch 63/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.2259 - mae: 0.7892
Epoch 64/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.2745 - mae: 0.8304
Epoch 65/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 1.0460 - mae: 0.7433
Epoch 66/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 1.1907 - mae: 0.8389
Epoch 67/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.3222 - mae: 0.8382
Epoch 68/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.3029 - mae: 0.7738
Epoch 69/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.2565 - mae: 0.7895
Epoch 70/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 1.1119 - mae: 0.7405
Epoch 71/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 1.0083 - mae: 0.6939
Epoch 72/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.0143 - mae: 0.7085
Epoch 73/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 0.9399 - mae: 0.6735
Epoch 74/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 1.0177 - mae: 0.7326
Epoch 75/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.0937 - mae: 0.7753
Epoch 76/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.0213 - mae: 0.7139
Epoch 77/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.2599 - mae: 0.7894
Epoch 78/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.0369 - mae: 0.7207
Epoch 79/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 1.1800 - mae: 0.7888
Epoch 80/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 1.2420 - mae: 0.7979
Epoch 81/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.0330 - mae: 0.7334
Epoch 82/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 1.1205 - mae: 0.7574
Epoch 83/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 0.9454 - mae: 0.6926
Epoch 84/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 1.2899 - mae: 0.8302
Epoch 85/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.0933 - mae: 0.7554
Epoch 86/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.0895 - mae: 0.7203
Epoch 87/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.1349 - mae: 0.7478
Epoch 88/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.1283 - mae: 0.7568
Epoch 89/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.9081 - mae: 0.7046
Epoch 90/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 1.2201 - mae: 0.8105
Epoch 91/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 1.2014 - mae: 0.7532
Epoch 92/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 1.0894 - mae: 0.7755
Epoch 93/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.0981 - mae: 0.7588
Epoch 94/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 0.9858 - mae: 0.7109
Epoch 95/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.1585 - mae: 0.7807
Epoch 96/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 1.3710 - mae: 0.8833
Epoch 97/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.3229 - mae: 0.8654
Epoch 98/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - loss: 1.2634 - mae: 0.8124
Epoch 99/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 1.3084 - mae: 0.7824
Epoch 100/100
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 1.1557 - mae: 0.8010
2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step - loss: 1.0201 - mae: 0.7722
Mean Squared Error:  0.9702607989311218
Test Accuracy:  0.7616586685180664